body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: azure;
}
/* Main content styling */
#main-doc{
    position: absolute;
    top: 0;
    left: 320px;
    color: rgb(54, 54, 51);
    margin: 1rem;
}
.main-section header{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 2px 1px 5px;
    color: rgb(0, 0, 0);
}
.main-section p, .main-section h4, .main-section ul{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-section pre{
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 5px;
}
.main-section .code-snippet{
    color: orangered;
}
.main-section .code-snippet-symbol{
    color: #00ff00;
}
.main-section table{
    border-collapse: collapse;
    width: 50%;
}
.main-section table td, .main-section table th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
.main-section table tr:nth-child(even){
    background-color: #f0f0f0;
}

/* sidebar style */
#navbar{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px;
    padding-right: 0;
    border-right: 3px solid black;
}
#navbar header{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 0.5rem;
}
#navbar a:first-child{
    margin-top: 2rem;

}
#navbar .nav-link{
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    padding-left: 2rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar .nav-link:hover{
    background-color: #f0f0f0;
}
@media screen and (max-width: 600px) {
    #navbar{
        padding: 5px;
        padding-right: 0;
    }
    #main-doc{
        margin: 0.5rem;
        margin-left: 0;
    }
}

